extends ../../layout

block content
  h1 Liste des articles en vente

  ul
    each item, index in items
      li
        a(href='/admin/edit/'+item.id) #{item.name}
    else
      p Aucun article disponible
