extends layout.pug

block content
  h2 Hello world!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ea quas neque tempora! Iure, recusandae impedit sit fuga nulla possimus rerum quam cupiditate consectetur, quisquam alias sapiente? Fugiat, deserunt pariatur.