extends ../layout.pug

block content
  h1 Liste des articles en vente

  div.item-list
    each item, index in items
      p
        a(href='/show/' + item.id) #{item.name}
        br
        img(src=item.image alt=item.name)
        br
        span Prix #{item.price} €
        br
        if (session.user)
          a.btn.btn-primary(href='/basket/add/' + item.id) Ajouter au panier
    else
      p Aucun article disponible
